html {
  font-family: "Noto Sans Japanese", sans-serif;
}

.logo {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #b64c6e;
}

a:hover {
  color: #860927;
}

 {
  font-family: 'Noto Sans', sans-serif;
}

nav ul {
  text-align: center;
}

.btn-ghost {
  background-color: transparent;
  border-color: #d89fb0;
  color: #b64c6e;
}

.quote {
  text-align: center;
}

footer {
  color: #e2e2e2;
}
