html, .font-jp {
  font-family: "Noto Sans", sans-serif;
}

.logo {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #b64c6e;
}

a:hover {
  color: #860927;
}

.btn-ghost:hover {
  border-color: #b64c6e;
  background-color: #d89fb0;
  color: #860927;
}

.txtundr:hover {
  border-color: #860927;
}

nav ul {
  text-align: center;
}

.btn-ghost {
  background-color: transparent;
  border: solid 2px #d89fb0;
  color: #b64c6e;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.txtundr {
  border-bottom: solid 2px #000;
  display: inline;
  border-color: #d89fb0;
}

.intro-box {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

hr {
  border-color: #e2e2e2;
}

footer {
  color: grey;
}

@media only screen and (min-width: 60em) {

  .nav {
    text-align: right;
  }

  .logo {
    text-align: left;
  }

}
